**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.git
.gitignore
.env
.env.*
*.md
terraform/
helm/
.github/
tests/
localstack-init/
docker-compose.yml
pyproject.toml
requirements-dev.txt
.swamp/
.swamp.yaml
.claude/
